<div>
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav-menu" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
    <div class="drawer-sidenav-content">
      <div>
        <div class="navbar-container">
          <app-navbar (onMenuClicked)="drawer.toggle()"></app-navbar>
        </div>
        <div class="body-container">
          <!-- <router-outlet></router-outlet> -->
          <h3>Hello!</h3>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
